@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

/*===========Common===========*/

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
}

* {
  font-family: "Nanum Gothic", Helvetica, Arial, sans-serif;
  color: black;
  letter-spacing: 1.2px;
}

body {
	background-color: antiquewhite;
	font-size: 14px;
	min-width: 720px;
}

a {
	text-decoration-line: none;
}

.total-content {
	display: flex;
	width: 100%;
	height: 100%;
	margin: auto;
}

/*===========LeftSecion===========*/

.leftSection{
	width: 14vw;
	height: 100vh;
	background-color: white;
}

.leftSection .navBarContainer {
	position: fixed;
	padding: 50px 20px;
}

.leftSection .navBarContainer .navBar .logo span {
	font-size: 20px;
	font-weight: bold;
}

#navtop-logo {
	margin-top: 4rem;
}

.leftSection .navBarContainer .group {
	margin-top: 20px;
	border-top: 1px solid #a0a0a0;
	padding-top: 10px;;
	font-weight: bold;
}
.leftSection .navBarContainer .group .navItem_main {
	margin-top: 10px;
}

.leftSection .navBarContainer .group .navItem {
	margin-top: 30px;
}

/*===========RightSection===========*/

.rightsection .b_bg {
	border-radius: 30px;
  width: 86vw;
  height: 200px;
  position: relative;
  padding: 10px 10px 10px 10px;
}

.rightsection .b_bg img {
	width: inherit;
	height: inherit;
	object-fit: cover;
}
